:root {
  --cor-marrom: #AA330F;
  --cor-vermelho: #D13201;
  --cor-laranja: #FB3B00;
  --cor-magenta: #DA803C;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

