.container-cadastro {
    background: url("../../assets/bg-cadastro.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.caixa {
    background: white;
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100vh;
    border-bottom-right-radius: 88px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-laranja);
    padding-left: 80px;
}

.content {
    position: absolute;
    z-index: 1;
}

 
.login {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 30px;
}
  
.textarea {
    width: 408px;
    height: 100px;
    font-family: 'Baloo 2', cursive;
}