.container-cadastro {
    background: url("../../assets/bg-cadastro.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.forma-cadastro {
    width: 60%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.caixa {
    background: white;
    position: absolute;
    width: 40%;
    height: 100vh;
    border-bottom-right-radius: 88px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-laranja);
}