.image-upload-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 30px;
  width: 384px;
}

.image-upload {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 384px;
    width: 384px;
    max-width: 384px;
    /* margin-left: auto; */
    background: gray;
    border-radius: 50%;
}

  