@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.content-produtos {
    font-family: 'Lato', sans-serif !important;
    position: relative;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-pedidos {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    padding: 10px;
}

h2 {
    color: var(--cor-vermelho);
    font-family: 'Baloo 2', cursive !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    margin-bottom: 68px !important;
}

.standard-text {
    font-size: 16px;
    color: #525459;
    text-align: center;
    padding-top: 40px;
}

.container-botoes-entrega {
    display: flex;
}

.botoes-entrega {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.tabela {
    background-color: white;
    color: blue;
    width: 100%;
    height: 90%;
    margin-top: 50px;
}

.row {
    background-color: #F0F0F0;
    color: greenyellow;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: 30px;
}

td {
    text-align: center;
    color: black;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px;
}

.botao-direita {
    padding-top: 50px;
}

.container-produtos {
    width: 70%;
}


