.content-produtos {
    position: relative;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-produtos {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    margin-top: 40px;
    padding: 10px;
}

h2 {
    color: var(--cor-vermelho);
    font-family: 'Baloo 2', cursive !important;
    font-weight: 700 !important;
    font-size: 32px !important;
    margin-bottom: 68px !important;
}

.standard-text {
    font-size: 16px;
    color: #525459;
    text-align: center;
    padding-top: 40px;
}

.container-modal {
    margin-right: 30px;
}

.modal {
    margin-left: auto;
    margin-right: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(592px, 1fr));
    row-gap: 40px;
    column-gap: 32px;
    padding-top: 30px;
    margin-top: 100px;
}

.botao-direita {
    padding-top: 50px;
}

.container-produtos {
    width: 70%;
}


