* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

h3 {
    color: var(--cor-laranja);
    font-family: 'Baloo 2', cursive;
}

body {
    background: url("../../assets/bg-login.png") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.card {
    position: relative;
    width: 488px;
    height: 612px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(50, 50, 50, 0.4);
    left: 320px;
    top: 169px;
}

  
  .container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

  }
  
  .login {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 30px;
  }
  
  .textarea {
    width: 408px;
    height: 100px;
    font-family: 'Baloo 2', cursive;
  }

  .button {
      width: 31px;
  }