h3 {
    color: var(--cor-vermelho);
    font-family: 'Baloo 2', cursive;
}

.card {
    background: url("../../assets/bg-login.png") no-repeat center;
    background-size: cover;
    height: 100vh;
}

  
.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    position: relative;
    width: 488px;
    height: 612px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(50, 50, 50, 0.4);
    right: 320px;
    /* top: 169px; */

}
  
.login {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 30px;
}
  
.login button {
    color: white;
    border-radius: 20px;
    background-color: var(--cor-vermelho);
}
.textarea {
    width: 408px;
    height: 100px;
    font-family: 'Baloo 2', cursive;
}

.botao {
    width: 31px;
    background-color: black;
}