.dados-restaurante {
    margin-top: 20px !important;
}

.logo {
    position: absolute;
    height: 384px;
}

.logo img {
    z-index: 2;
    top: -50%;
    left: 10%;
    width: 384px;
    height: 384px;
    box-sizing: border-box;
    border: 6px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}