@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Montserrat:wght@400;700&display=swap');

.main-screen {
    display: flex;
    max-height: 100vh;
}

.div-img {
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
}

.container-img-barril {
    display: flex;
    width: 100%;
    align-items: left;
}

.img-app {
    width: 40%;
    height: 60%;
}

.img-fundo {
    position: absolute;
    z-index: -1;
    height: 100%;
    left: -10%;
    bottom: 0;
}
