.header {
    display: block;
    width: 100vw;
    background-color: #F9F9F9;
}

.logo {
    display: flex;
    align-items: center;
    height: 120px;
    gap: 50px;
    background-color: #F9F9F9;
}

.header-text {
    width: 65vw;
    position: relative;
    color: white;
    z-index: 3;
    top: -70%;
    left: 35%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-text h1 {
    color: white;
    text-shadow: 2px 2px 3px black;
}

.logo p {
    margin-right: 100px;
    text-shadow: 2px 2px 3px black;
}

.imagem {
    background-color: black;
    border-bottom-right-radius: 233px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.modal {
    padding-top: 15px;
}

p:hover {
    cursor: pointer;
}
